<html ng-app="zeTrello" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- angular -->
    <script src="../node_modules/angular/angular.js"></script>
    <!-- outras coisas de angular que não estão sendo usadas ainda -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.8.0/angular-locale_pt-br.min.js"></script>
    <!-- bootstrap e fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- próprio -->
    <script src="js/app.js"></script>
    <script src="js/utils/constants.js"></script>
    <script src="js/services/todosAPI.service.js"></script>
    <script src="js/directives/modal.directive.js"></script>
    <script src="js/directives/drag.directive.js"></script>
    <link rel="stylesheet" href="css/modal.css">
    <title>Zé Trello</title>
    
</head>
<body class="html" ng-controller="zeTrelloCtrl">
    <div class="container">
        <h1 class="display-4 text-center py-4">Zé Trello</h1>
        <hr>
        <div class="row">
            <!-- primeiro cria o espaço para uma lista -->
            <div class="col" ng-repeat="cat in categories" id="listSpace{{cat.boardPosition}}">
                <div drop-on-me id="cat-{{cat.id}}" class="card pb-4 bg-light text-center">
                    <div class="card-header" role="button">{{ cat.name }}</div>
                    <div class="card todo m-2" drag-me role="button" ng-click=toggleModal(todo.id) ng-repeat="todo in cat.todos" id=todo-{{todo.id}}>
                        <div class="card-body">
                            <span class="card-text text-dark">{{ todo.title }}</span>
                        </div>
                    </div>
                    <button id="button-cat-{{cat.id}}" class="btn btn-secondary m-2">Adicionar novo item</button>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-info m2">Adicionar Categoria</button>
            </div>
        </div>
        
    </div>
    
    <modal-dialog show='modalShown' id='id' width='750px' height='60%'>
      <!-- <p>Modal Content Goes here<p> -->
    </modal-dialog>



    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>